* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background: rgb(240, 232, 221);
}

header {
  background: rgb(114, 0, 4);
  height: 200px;
  display: flex;
}

nav {
  position: relative;
  margin: 0 auto;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  margin-top: auto;
  margin-bottom: 0;
}

#logoheader {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 49%;
  top: 8%;
}

.TitrePanier {
  background-color: rgb(171, 169, 169);
  text-align: center;
  justify-content: center;
}

.cardPanier {
  margin-top: 20px;
  background-color: white;
  margin-left: 25%;
  margin-right: 25%;
  border: 2px solid rgb(51, 51, 51);
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
}

.cucu {
  padding: 5px;
}

.item-details {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panier {
  display: flex;
}

.logofooter {
  display: flex;
  padding-right: 20px;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

.vinContainer {
  position: relative;
  height: 300px;
  margin: 50px;
  border: 2px solid rgb(51, 51, 51);
  background: url(../Image/banniere.jpg) center/cover;
}
.vinContainer .vin {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  left: 50%;
  top: 100%;
  position: absolute;
  text-align: center;
  width: 40%;
  height: 200px;
  background: white;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(51, 51, 51);
  border: 2px solid rgb(51, 51, 51);
  border: 2px solid rgb(51, 51, 51);
}
.vinContainer .vin .rondBlanc {
  border: 2px solid rgb(51, 51, 51);
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background: rgb(204, 188, 44);
}
.vinContainer .vin .rondBlanc i {
  font-size: 2rem;
}
.vinContainer .vin .rondRouge {
  border: 2px solid rgb(51, 51, 51);
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background: rgb(157, 0, 57);
}
.vinContainer .vin .rondRose {
  border: 2px solid rgb(51, 51, 51);
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background: rgb(253, 199, 163);
}

.pinardContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 50px;
  width: 60%;
  max-width: 900px;
  margin: 0 auto;
}
.pinardContainer .cartePinard1 {
  margin: 20px;
  width: 200px;
  height: 300px;
  border: 2px solid rgb(51, 51, 51);
}
.pinardContainer .cartePinard1 img {
  width: 40%;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

footer {
  background: rgb(114, 0, 4);
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 50%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
}

nav a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 10px;
}/*# sourceMappingURL=style.css.map */