* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

footer {
  background: rgb(114, 0, 4);
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

body {
  background: rgb(240, 232, 221);
}

header {
  background: rgb(114, 0, 4);
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5rem;
  border-bottom: 2px solid rgb(51, 51, 51);
}

nav {
  margin: 0 auto;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  text-align: center;
}

#logoheader {
  width: 150px;
}

.TitrePanier {
  background-color: rgb(171, 169, 169);
  text-align: center;
  justify-content: center;
}

.cardPanier {
  margin-top: 20px;
  background-color: white;
  margin-left: 25%;
  margin-right: 25%;
  border: 2px solid rgb(51, 51, 51);
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
}

.cucu {
  padding: 5px;
}

.item-details {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panier {
  display: flex;
}

footer {
  background: rgb(114, 0, 4);
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.logofooter {
  display: flex;
  padding-right: 20px;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

footer {
  background: rgb(114, 0, 4);
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

footer {
  background: rgb(114, 0, 4);
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.vinContainer {
  position: relative;
  height: 300px;
  margin: 50px;
  border: 2px solid rgb(51, 51, 51);
  background: url(../Image/banniere.jpg) center/cover;
}
.vinContainer .vin {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  left: 50%;
  top: 100%;
  position: absolute;
  text-align: center;
  width: 40%;
  height: 200px;
  background: white;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(51, 51, 51);
  border: 2px solid rgb(51, 51, 51);
  border: 2px solid rgb(51, 51, 51);
}
.vinContainer .vin .rondBlanc {
  border: 2px solid rgb(51, 51, 51);
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background: rgb(204, 188, 44);
}
.vinContainer .vin .rondBlanc i {
  font-size: 2rem;
}
.vinContainer .vin .rondRouge {
  border: 2px solid rgb(51, 51, 51);
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background: rgb(157, 0, 57);
}
.vinContainer .vin .rondRose {
  border: 2px solid rgb(51, 51, 51);
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background: rgb(253, 199, 163);
}

.pinardContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 80px;
  width: 60%;
  max-width: 900px;
  margin: 0 auto;
}
.pinardContainer .cartePinard1 {
  margin: 20px;
  width: 200px;
  height: 300px;
  border: 2px solid rgb(51, 51, 51);
  padding: 10px;
}
.pinardContainer .cartePinard1 .pannier {
  align-items: flex-end;
  display: flex;
  font-size: 2rem;
  margin-left: 10px;
}
.pinardContainer .cartePinard1 .pinard-bot {
  display: flex;
  justify-content: space-around;
}
.pinardContainer .cartePinard1 .pinard-bot i {
  color: rgb(114, 0, 4);
  font-size: 2rem;
}
.pinardContainer .cartePinard1 h2 {
  padding-top: 10px;
}
.pinardContainer .cartePinard1 img {
  width: 40%;
}/*# sourceMappingURL=style.css.map */