@use "./settings" as var;

.vinContainer {
  position: relative;
  height: 300px;
  margin: 50px;
  border: var.$border;
  background: url(./Image/raisin.jpg) center/cover;
  .vin {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    left: 50%;
    top: 100%;
    position: absolute;
    text-align: center;
    width: 40%;
    height: 200px;
    background: white;
    transform: translate(-50%, -50%);
    border: var.$border;
    @media (width < 600px) {
      flex-direction: column;
      height: 250px;
        }

    .rondBlanc {
      border: var.$border;
      width: 50px;
      height: 50px;
      border-radius: 100px;
      background: var.$rondBlanc;
      i {
        font-size: 2rem;
      }
    }
    border: var.$border;
    .rondRouge {
      border: var.$border;
      width: 50px;
      height: 50px;
      border-radius: 100px;
      background: var.$rondRouge;
    }
    border: var.$border;
    .rondRose {
      border: var.$border;
      width: 50px;
      height: 50px;
      border-radius: 100px;
      background: var.$rondRose;
    }
  }
}
.pinardContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 80px 0;
  width: 60%;
  max-width: 900px;
  margin: 0 auto;

  .cartePinard1 {
    margin: 20px;
    width: 200px;
    height: 300px;
    padding: 10px;
    // border: 1px solid rgb(114, 0, 4, 0.5);
    // box-shadow: 2px 2px 10px rgb(114, 0, 4, 0.8);
    // border-radius: 10px;
    // background-color: whitesmoke;

    .pannier {
      align-items: flex-end;
      display: flex;
      font-size: 2rem;
      margin-left: 10px;
    }
    .pinard-bot {
      display: flex;
      justify-content: space-around;
      align-items: center;
      span{
        font-size: 1.5rem;
      }
      i {
        color: var.$colorBordeaux;
        font-size: 2rem;
      }
    }
    h2 {
      padding-top: 10px;
      text-align: center;
    }
    img {
      width: 40%;
    }
  }
}
.cartePinardBlanc{
  border: 1px solid var.$rondBlanc;
  box-shadow: 2px 2px 10px var.$rondBlanc;
  border-radius: 10px;
  background-color: whitesmoke;
}
.cartePinardRose{
  border: 1px solid var.$rondRose;
  box-shadow: 2px 2px 10px var.$rondRose;
  border-radius: 10px;
  background-color: whitesmoke;
}

.cartePinardRouge{
  border: 1px solid var.$rondRouge;
  box-shadow: 2px 2px 10px var.$rondRouge;
  border-radius: 10px;
  background-color: whitesmoke;
}