@use "./settings" as var;

footer {
  
  background: var.$colorBordeaux;
  color: #fff;
  
  bottom: 0;
  text-align: center;
  padding: 5px;
  width: 100%;

  .footer-content ul {
    list-style: none;
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 10px;
  }

  .social-icons i {
    padding: 20px;
  }
}

.footer-content ul {
  list-style: none;
  width: 30%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 5px;
}

.social-icons i {
  padding: 10px;
}
