@use "./settings" as var;

body {
  background: rgb(240, 232, 221);
}

header {
  background: rgb(114, 0, 4);
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5rem;
  border-bottom: var.$border;
}
nav {
  margin: 0 auto;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  text-align: center;
}

#logoheader {
  width: 150px;
}

.TitrePanier {
  background-color: rgb(171, 169, 169);
  text-align: center;
  justify-content: center;
}

.cardPanier {
  margin-top: 20px;
  background-color: white;
  margin-left: 25%;
  margin-right: 25%;
  border: var.$border;
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
}

.cucu {
  padding: 5px;
}

.item-details {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panier {
  display: flex;
}




.logofooter {
  display: flex;
  padding-right: 20px;
}
