*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

$colorBeige: rgb(240,232,221);
$colorBordeaux: rgb(114,0,4);
$border: 2px solid rgb(51, 51, 51);
$rondBlanc: rgb(204,188,44);
$rondRose: rgb(253,199,163);
$rondRouge: rgb(157,0,57);

a{
    text-decoration: none;
    color: white;
}

footer{
    background: rgb(114, 0, 4);
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
   
  }