*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

$colorBeige: rgb(240,232,221);
$colorBordeaux: rgb(114,0,4);
<<<<<<< HEAD

=======
$border: 2px solid rgb(51, 51, 51);
$rondBlanc: rgb(204,188,44);
$rondRose: rgb(253,199,163);
$rondRouge: rgb(157,0,57);
>>>>>>> 61c7442d534e1ae9c2f8b2fd072e9ea9f75dea2c
